<p class='activity-heading'>This Month</p>
<ul class='activity-list'>
  <li class='activity-item'>
    <a href="" class='activity-link'>
      <img src="./images/avt-user.jpg" alt="" class="avatar avatar-md">
      <div class='activity-content'><span class='username'>hieupisce</span> started following you. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam odio, hic quasi quaerat officiis praesentium magni, atque dolor, laborum quas tempore architecto nisi porro illum omnis est dolorem tenetur possimus! <span class='text text-gray'>6d</span></div>
    </a>
    <button class='btn btn-primary'>Follow</button>
  </li>
  <li class='activity-item'>
    <a href="" class='activity-link'>
      <img src="./images/avt-user.jpg" alt="" class="avatar avatar-md">
      <div class='activity-content'><span class='username'>hieupisce</span> started following you. <span class='text text-gray'>6d</span></div>
    </a>
    <button class='btn btn-primary'>Follow</button>
  </li>
  <li class='activity-item'>
    <a href="" class='activity-link'>
      <img src="./images/avt-user.jpg" alt="" class="avatar avatar-md">
      <div class='activity-content'><span class='username'>hieupisce</span> started following you. <span class='text text-gray'>6d</span></div>
    </a>
    <button class='btn btn-primary'>Follow</button>
  </li>
  <li class='activity-item'>
    <a href="" class='activity-link'>
      <img src="./images/avt-user.jpg" alt="" class="avatar avatar-md">
      <div class='activity-content'><span class='username'>hieupisce</span> started following you. <span class='text text-gray'>6d</span></div>
    </a>
    <button class='btn btn-primary'>Follow</button>
  </li>
  <li class='activity-item'>
    <a href="" class='activity-link'>
      <img src="./images/avt-user.jpg" alt="" class="avatar avatar-md">
      <div class='activity-content'><span class='username'>hieupisce</span> started following you. <span class='text text-gray'>6d</span></div>
    </a>
    <button class='btn btn-primary'>Follow</button>
  </li>
  <li class='activity-item'>
    <a href="" class='activity-link'>
      <img src="./images/avt-user.jpg" alt="" class="avatar avatar-md">
      <div class='activity-content'><span class='username'>hieupisce</span> started following you. <span class='text text-gray'>6d</span></div>
    </a>
    <button class='btn btn-primary'>Follow</button>
  </li>
  <li class='activity-item'>
    <a href="" class='activity-link'>
      <img src="./images/avt-user.jpg" alt="" class="avatar avatar-md">
      <div class='activity-content'><span class='username'>hieupisce</span> started following you. <span class='text text-gray'>6d</span></div>
    </a>
    <button class='btn btn-primary'>Follow</button>
  </li>
  <li class='activity-item'>
    <a href="" class='activity-link'>
      <img src="./images/avt-user.jpg" alt="" class="avatar avatar-md">
      <div class='activity-content'><span class='username'>hieupisce</span> started following you. <span class='text text-gray'>6d</span></div>
    </a>
    <button class='btn btn-primary'>Follow</button>
  </li>
</ul>