<div class="new-post-modal">
  <button class='new-post-close'><i class="fal fa-times"></i></button>
  <div class="new-post-box">
    <div class="new-post-heading text text-bold">Create new post</div>
    <div class="new-post-main">
      <i class="fal fa-photo-video"></i>
      <span>Drag photos and videos here</span>
      <form action="">
        <label for="upload-file" class='btn btn-primary'>Select from computer</label>
        <input type="file" name="" id="upload-file">
      </form>
    </div>
  </div>
</div>