<div class="inbox">
  <div class="inbox__aside">
    <div class="inbox__heading inbox__heading--left">
      <div class="inbox__switch-user">
        <div class="username username-md">
          hieupisce <i class="fal fa-chevron-down"></i>
        </div>
      </div>
      <i class="inbox__create fal fa-edit"></i>
    </div>
    <div class="inbox__chatbar">
      <a href="/"><i class="fal fa-chevron-left"></i></a>
      <span>Chats</span>
      <a href=""><i class="fal fa-edit"></i></a>
    </div>
    <ul class="inbox__list">
      <li class="inbox__card inbox__card--active">
        <img src="./images/avt-ariana.jpg" alt="" class="avatar avatar-md" />
        <div class='inbox__card-info'>
          <span class="text verify">arianagrande</span>
          <div class='inbox__card-text'><span>Good night ❤</span><span>3d</span></div>
        </div>
      </li>
      <li class="inbox__card">
        <img src="./images/avt-min.jpg" alt="" class="avatar avatar-md" />
        <div class='inbox__card-info'>
          <span class="text">minminmin0712</span>
          <div class='inbox__card-text'><span>Trên tình bạn dưới tình yêu</span><span>3d</span></div>
        </div>
      </li>
      <li class="inbox__card">
        <img src="./images/avt-huyen.jpg" alt="" class="avatar avatar-md" />
        <div class='inbox__card-info'>
          <span class="text">huyen.204</span>
          <div class='inbox__card-text'><span>Tối mai qua nhà chị nhé ❤</span><span>3d</span></div>
        </div>
      </li>
      <li class="inbox__card">
        <img src="./images/avt-mtp.jpg" alt="" class="avatar avatar-md" />
        <div class='inbox__card-info'>
          <span class="text verify">sontungmtp</span>
          <div class='inbox__card-text'><span>Nên ra hit mới không em</span><span>3d</span></div>
        </div>
      </li>
      <li class="inbox__card">
        <img src="./images/avt-tienng12.jpg" alt="" class="avatar avatar-md" />
        <div class='inbox__card-info'>
          <span class="text">tienng12</span>
          <div class='inbox__card-text'><span>Em ở bên Thái nhưng nhớ anh nhiều lắm</span><span>3d</span></div>
        </div>
      </li>
      <li class="inbox__card">
        <img src="./images/avt-eimi.jpg" alt="" class="avatar avatar-md" />
        <div class='inbox__card-info'>
          <span class="text">eimi0318</span>
          <div class='inbox__card-text'><span>Chế ra tập mới cưng koi chưa</span><span>3d</span></div>
        </div>
      </li>
      <li class="inbox__card">
        <img src="./images/avt-jichangwook.jpg" alt="" class="avatar avatar-md" />
        <div class='inbox__card-info'>
          <span class="text verify">jichangwook</span>
          <div class='inbox__card-text'><span>Mai mốt sang Hàn Xẻn chơi nè</span><span>3d</span></div>
        </div>
      </li>
      <li class="inbox__card">
        <img src="./images/avt-jinseyun.jpg" alt="" class="avatar avatar-md" />
        <div class='inbox__card-info'>
          <span class="text">jinseyun.go</span>
          <div class='inbox__card-text'><span>Nhớ anh, I love u 3000!</span><span>3d</span></div>
        </div>
      </li>
      <li class="inbox__card">
        <img src="./images/avt-alica.jpg" alt="" class="avatar avatar-md" />
        <div class='inbox__card-info'>
          <span class="text">alicasmd</span>
          <div class='inbox__card-text'><span>Muốn tập thể lực cùng chị không?</span><span>3d</span></div>
        </div>
      </li>
      
    </ul>
  </div>
  
  <div class="inbox__main">
    <div class="inbox__heading inbox__heading--right">
      <img src="./images/avt-ariana.jpg" alt="" class="avatar avatar-xs" />
      <a href="" class="username verify">arianagrande</a>
      <i class="fal fa-info-circle"></i>
    </div>
    <div class="inbox__content">

    </div>
    <div class="inbox__footer">
      <form action="" class='inbox__form'>
        <i class="fal fa-smile"></i>
        <textarea name="" oninput='resetTextArea(this)' placeholder='Message...'></textarea>
        <i class="fal fa-file-image"></i>
        <i class="fal fa-heart"></i>
      </form>
    </div>
  </div>
  <div class="hehe" style='display: none;'></div>
</div>
