$black-color: #333333;
$gray-color: #929292;
$gray-light-color: #dfdfdf;
$snow-color: #fafafa;
$white-color: #ffffff;
$white-smoke-color: #efefef;
$blue-color: #0095f6;

$primary-font: 'Roboto', sans-serif;