<div class="story-slider">
  <div class="story-slider__item">
    <img
      src="./images/avt-433.jpg"
      alt=""
      class="avatar avatar-lg avatar-story"
    />
    <div class="story-slider__username">
      <span>433</span>
    </div>
  </div>

  <div class="story-slider__item">
    <img
      src="./images/avt-alica.jpg"
      alt=""
      class="avatar avatar-lg avatar-story"
    />
    <div class="story-slider__username">
      <span>alicasmd</span>
    </div>
  </div>

  <div class="story-slider__item">
    <img
      src="./images/avt-hanoi.jpg"
      alt=""
      class="avatar avatar-lg avatar-story"
    />
    <div class="story-slider__username">
      <span>hanoi.inlove</span>
    </div>
  </div>

  <div class="story-slider__item">
    <img
      src="./images/avt-mtp.jpg"
      alt=""
      class="avatar avatar-lg avatar-story"
    />
    <div class="story-slider__username">
      <span>sontungmtp</span>
    </div>
  </div>

  <div class="story-slider__item">
    <img
      src="./images/avt-netflix.jpg"
      alt=""
      class="avatar avatar-lg avatar-story"
    />
    <div class="story-slider__username">
      <span>netflix</span>
    </div>
  </div>

  <div class="story-slider__item">
    <img
      src="./images/avt-epl.jpg"
      alt=""
      class="avatar avatar-lg avatar-story"
    />
    <div class="story-slider__username">
      <span>433</span>
    </div>
  </div>

  <div class="story-slider__item">
    <img
      src="./images/avt-mu.jpg"
      alt=""
      class="avatar avatar-lg avatar-story"
    />
    <div class="story-slider__username">
      <span>alicasmd</span>
    </div>
  </div>

  <div class="story-slider__item">
    <img
      src="./images/avt-dybala.jpg"
      alt=""
      class="avatar avatar-lg avatar-story"
    />
    <div class="story-slider__username">
      <span>hanoi.inlove</span>
    </div>
  </div>

  <div class="story-slider__item">
    <img
      src="./images/avt-bts.jpg"
      alt=""
      class="avatar avatar-lg avatar-story"
    />
    <div class="story-slider__username">
      <span>sontungmtp</span>
    </div>
  </div>

  <div class="story-slider__item">
    <img
      src="./images/avt-netflix.jpg"
      alt=""
      class="avatar avatar-lg avatar-story"
    />
    <div class="story-slider__username">
      <span>netflix</span>
    </div>
  </div>
</div>