.explore {
  padding-top: 2rem;
  @include maxWidth(767px) {
    padding-top: 0;
  }

  &__search-bar {
    margin: 0 -2rem;
    padding: 0.8rem 1.6rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: $white-color;
    display: none;

    @include maxWidth(767px) {
      display: block;
    }
  }

  &__search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.8rem;
    border: thin solid $gray-light-color;
    border-radius: 0.3rem;
    color: $gray-color;
    cursor: pointer;

    > span {
      margin-left: 0.8rem;
    }

    > i {
      font-size: 1.2rem;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.8rem;
    grid-template-areas:
      'h1 h2 h3'
      'h4 h4 h5'
      'h4 h4 h6'
      'h7 h8 h9'
      'h10 h12 h12'
      'h11 h12 h12'
      'h13 h14 h15';

    @include maxWidth(767px) {
      gap: 0.2rem;
      margin: 0 -2rem 4.5rem;
    }
  }

  &__item {
    position: relative;
    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    @for $i from 1 through 15 {
      &:nth-child(#{$i}) {
        grid-area: h#{$i};
      }
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
