.profile {
  padding-top: 3rem;

  @include maxWidth(767px) {
    padding-top: 1.6rem;
    padding-bottom: 4.5rem;
  }

  &__header {
    display: flex;
    margin-bottom: 4.4rem;

    @include maxWidth(767px) {
      margin-bottom: 1rem;
      padding: 0 1.6rem;
    }
  }

  &__avatar {
    --avatar-size: 15rem;
    width: 30%;
    display: flex;
    justify-content: center;
    margin-right: 3rem;

    @include maxWidth(767px) {
      margin-right: 2.4rem;
      width: auto;
      --avatar-size: 7.7rem;
    }

    img {
      @include size(var(--avatar-size));
      border: thin solid $gray-light-color;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__info {
    flex: 1;
    padding-top: 1rem;
  }

  &__heading,
  &__overview {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__heading {
    align-items: flex-start;

    @include maxWidth(767px) {
      display: flex;
      flex-direction: column;
    }
  }

  // OVERVIEW
  &__overview {
    font-size: 1.6rem;

    > li:not(:last-child) {
      margin-right: 4rem;
    }

    &--mobile {
      display: none;
      justify-content: center;
      font-size: 1.4rem;
      border-top: thin solid $gray-light-color;
      margin: 0;
      padding: 1.4rem 0;

      > li {
        margin: 0 !important;
        flex: 1;
        display: flex;
        gap: 0.3rem;
        flex-direction: column;
        align-items: center;
      }
    }

    @include maxWidth(767px) {
      display: none;

      &--mobile {
        display: flex;
      }
    }
  }

  &__username {
    font-size: 2.8rem;
    font-weight: 300;
  }

  &__edit {
    margin: 0 1.4rem 0 2rem;

    @include maxWidth(767px) {
      width: 100%;
      max-width: 25rem;
      margin: 1rem 0 0;
      display: flex;
      justify-content: center;
    }
  }

  &__setting {
    font-size: 2.2rem;

    @include maxWidth(767px) {
      display: none;
    }
  }

  &__desc {
    font-size: 1.6rem;

    > li:not(:last-child) {
      margin-bottom: 1rem;
    }

    &--mobile {
      display: none;
      font-size: 1.4rem;
      margin: 0 1.6rem 2rem;
    }

    @include maxWidth(767px) {
      display: none;

      &--mobile {
        display: block;
      }
    }
  }

  &__fullname {
    font-weight: 500;
  }

  &__other-link {
    color: #1a3884;
    font-weight: 500;
  }

  &__navtabs {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.1rem solid $gray-light-color;

    @include maxWidth(767px) {
      justify-content: space-around;
    }
  }

  &__tab {
    padding: 2rem 0;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    cursor: pointer;
    color: $gray-color;

    &:not(:last-child) {
      margin-right: 6rem;
    }

    > span {
      margin-left: 0.2rem;
    }

    &--active {
      border-top: thin solid $black-color;
      margin-top: -0.2rem;
      color: $black-color;
    }

    &--mobile {
      display: none;
    }

    @include maxWidth(767px) {
      font-size: 2rem;
      padding: 1.4rem 0;
      margin-right: 0 !important;

      &-title {
        display: none;
      }

      &--active {
        color: $blue-color;
        border-top: none;
        margin-top: 0;
      }

      &--mobile {
        display: block;
      }
    }
  }

  // FLEX BOX
  --item-gap: 2.8rem;

  @include maxWidth(767px) {
    width: calc(100% + 2rem * 2);
    margin: 0 -2rem;
    --item-gap: 0.2rem;
  }

  &__contents {
    overflow: hidden;
  }

  &__post-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(var(--item-gap) * -1);
  }

  &__post-item {
    width: calc(100% / 3 - var(--item-gap));
    margin-right: var(--item-gap);
    margin-bottom: var(--item-gap);
    cursor: pointer;

    position: relative;
    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    > img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__post-item:hover &__post-overlay {
    display: flex;
  }

  &__post-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba($color: $black-color, $alpha: 0.4);
    color: $white-color;
    font-size: 1.6rem;

    display: none;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;

    @include maxWidth(767px) {
      flex-direction: column;
      gap: 1.2rem;
    }
  }

  &__post-review {
    > span {
      margin-left: 0.8rem;
    }

    // &:first-child {
    //   margin-right: 2.8rem;
    // }

    // @include maxWidth(767px) {
    //   &:first-child {
    //     margin-right: 0;
    //     margin-bottom: 1.2rem;
    //   }
    // }
  }
}
